{%extends "blog_fayllari/base.html"%}

{%block kirish%}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Assalomu alaykum</h1>
      <p class="lead text-muted"> Xush kelibsiz
        dasturlashga oid yangiliklar haqida tez tez xabardor bolishni istasangiz bizning sahifamiz sizga yordam beradi
      </p>
      <!-- <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> -->
    </div>
  </div>
</section>
{%endblock kirish%}

<!-- {%block bosh%}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <!-- <img class="bd-placeholder-img card-img-top"src="https://media-exp1.licdn.com/dms/image/C561BAQGQ6dIcBhfqaw/company-background_10000/0/1526873579149?e=2159024400&v=beta&t=_2aB5pycriIFXMGz_KbKNumpcy28CgpnzC5cq-Iw81w" alt="">
            <div class="card-body">
              <p class="card-text">Informatika bo’yicha ta’lim hech kimni yetuk dasturchi qila olmaydi huddi, mo’yqalam va moybo’yoq haqida o’qish kimnidir yetuk rassom qila olmaganidek.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">like</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">edit</button>
                </div>
                <small class="text-muted">13/03/2021</small>
              </div>
            </div>
          </div>
        </div>
              
      </div>
    </div>
  </div>


{%endblock bosh%} --> -->
