{%extends "blog_fayllari/base.html"%}

<!-- {%block kirish%}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
     <div class="col-lg-6 col-md-8 mx-auto">
      <!-- <h1 class="fw-light">Assalomu alaykum</h1> -->
      <!-- <p class="lead text-muted"> </p> -->
      <!-- <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p> -->
    </div>
  </div>
</section>
{%endblock kirish%} -->

{%block haqimda%}

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <img class="bd-placeholder-img rounded-circle" width="150" height="130" src="https://image.freepik.com/free-icon/running-man_318-1564.jpg" alt="">
        <h2>Qadam 1</h2>
        <p>
            Dasturlashni endi o‘rganishni boshlaganingizda siz har bir kodni qanday ishlashini tushunmasligingiz mumkin. 
            Buni tushunib olish endi boshlagan inson uchun shart ham emas aslida.
            Lekin baʼzi endi o‘rganishni boshlagan do‘stlarimiz buni o‘zlarining xatolari deb ham hisoblashadi. 
            Umumiy qilib aytadigan bo‘lsam birinchi qadamdayoq barchasini tushunib olishga harakat qilmang..</p>
        <!-- <p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <img class="bd-placeholder-img rounded-circle" width="150" height="130" src="https://image.freepik.com/free-icon/running-man_318-1564.jpg" alt="">
        <h2>Qadam 2</h2>
        <p>Dasturlash olamiga endi qadam bosganingizda sizning oldingizdan shunchalik ko‘p dasturlash tillari va imkoniyatlar chiqadiki sizni chalg‘itib yuborishi hech gap emas. 
            Shuning uchun o‘zingizga o‘rganishingiz kerak bo‘lgan yo‘nalish va tillar ketma-ketligini belgilab oling.
            Aniq reja asosida harakat qilishingiz vaqtingizni bekorga ketkazmasligingizni taʼminlaydi..</p>
        <!-- <p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <img class="bd-placeholder-img rounded-circle" width="150" height="130" src="https://image.freepik.com/free-icon/running-man_318-1564.jpg" alt="">
        <h2>Qadam 3</h2>
        <p>Bu o'rgangan narsalaringizni amalda qo'llashning eng yaxshi usuli. 
O'zingizning kodingizni yozing, xatolarga yo'l qo'ying, o'rganing, dasturlash qobiliyatingizni sinab ko'ring.
Kodni o'qing va dasturlarning qanchalik yaxshi yozilganligini tushunib oling. 
Kompyuteringiz va asosiy jihozlaringiz bilan tanishing. Kompyuter xotira va protsessorlar yordamida asosiy darajalarda qanday ishlashini bilib oling..</p>
        <!-- <p><a class="btn btn-secondary" href="#">عرض التفاصيل</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Taslim bo'lmang<span class="text-muted">  </span></h2>
        <p class="lead">Siz  iste'dodli odamsiz dasturlashdagi muammolarni deb hech qachon ruhiy tushkunlikka tushib, o'zingizni qiynamang. O'zingizni  tez-tez ayblab  mayda-chuyda narsalarni deb o'zingizga bo'lgan ishonchni yo'qotib qo'ymang.</p>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="http://i.mycdn.me/i?r=AEHujHvw2RjEbemUCNEorZbxYpb_p_9AcN2FmGik64KrkQOxWKK5W4KDlqttqdFlxJp7Zi9s0CiBOSDmbngC-I-k&fn=external_8" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Yosh dasturchilarga tavsiyalar. <span class="text-muted"> </span></h2>
        <p class="lead">
          
          💡To‘g‘ridan-to‘g‘ri kodga o'tmang.Mantiqni tushuning
          
          🙋🏻Agar savolni tushunmasangiz, ha  tushundim demang.
          
          🗒Rejasiz davom etmang. Reja bilan qiling.
          
          🤴🏻Xatolardan qo‘rqmang.
          
          🙅🏻‍♂️Seniordan so‘rashdan qo‘rqmang.
          
          📇Dasturlash tilini o‘rganmang. Tushunchalarni o‘rganing.
          
          🗄Nima ekanligini tushunmaguningizcha "copy paste" qilmang.
          
          📝Boshlashdan qo‘rqmang.
          
          🥇O‘zingizga meni qo‘limdan kelmaydi demang.
          
          😬Imposter sindromi sizni aldashiga yo‘l qo‘ymang.
           </p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://t-images.imgix.net/https%3A%2F%2Fstatic.t-cdn.net%2F5ea3e4a6fccadd392f62a083%2Fposts%2F5eecb4271199b47be5419c8d%2F5eecb4271199b47be5419c8d_69187.png?width=1240&w=1240&auto=format%2Ccompress&ixlib=js-2.3.1&s=6202d2f6fe809598945df84086593905" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Yaxshi  va Yomon dasturchilar. <span class="text-muted">  </span></h2>
        <p class="lead">
          👍Yaxshi: Boshqalarning  fikriga ochiq bo'ladi.

          👎Yomon: Boshqalarning maslahatlarini e'tiborsiz qoldiradi.
          
          👍Yaxshi: Har kuni kod yozishda to'xtamaydi.

          👎Yomon: Xoxlagan paytida kod yozadi. Barqarorlik yo'q
           
          👍Yaxshi: Bilganlarini boshqalar bilan bo'lishishga tayyor.

          👎Yomon: Faqat o'zi haqida qayg'uradi.
          
          👍Yaxshi: Ko'proq yangi ma'lumot olish payida bo'ladi.

          👎Yomon: Bilganlari bilan o'zidan qoniqadi va bilimlarini kengaytirishdan o'zini op qochadi.
          
          👍Yaxshi: Bir vaqtning o'zida bitta tilni o'rganishga vaqtini sarflaydi.

          👎Yomon: Hamma narsani birdaniga o'rganishga harakat qiladi.</p>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placehol" width="500" height="500"der-img-lg featurette-image img-fluid mx-auto"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  src="https://anews.com/tn/50/upload/post/2019/08/27/115874201/gallery/115874201.jpg"  alt="">
      </div>
    </div>
{%endblock haqimda%}
